<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Send Money</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/remittance.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .is_logo {
            width: 48px;
            height: 48px;
            background-image: url("../../static/images/nsempasend_logo.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            flex-shrink: 0;
            border: 2px solid rgba(255, 255, 255, 0.3);
        }
    </style>

</head>

<body>

    <nav class="navbar">
        <div class="logo">
            <div class="is_logo">
            </div>
            <div class=logo_text>
                <a href="{% url 'initiate_payment' %}">
                    <h3>Mobile Money Transfer</h3>
                </a>
            </div>
        </div>
    </nav>

    <div class="container ">
        {% block content %}{% endblock %}
    </div>

</body>

</html>